.app {
    width: 1140px;
}

.dataCard {
    width: 365px;
    float: left;
    min-height: 200px;
    margin: 2.5px;
}

.connections {
    width: 1105px;
}

.footerContainer {
    clear: both;
    padding-top: 20px;
}
.footer {
    clear: both;
    background-color: #edeef0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.progress {
    margin-top: 20px;
}

.connectionsHeader {
    font-weight: bold;
}

body {
    background-color: #4d4d4d;
}

.card-title {
    color: #f26822;
    font-weight: bold;
}

.jumbotron {
    background-color: white;
}

.jumbotron h1,
h2 {
    color: #f26822;
}

.jumbotron h2 {
    text-align: center;
}

.progress-bar {
    background-color: #f26822;
}

.logo {
    width: 215px;
    margin-top: -10px;
    margin-right: -5px;
}

.cryptocompare {
    margin-top: 30px;
    font-size: 14px;
    text-align: center;
}

.cryptocompare a {
    color: #f26822;
}

.currencyLabel {
    text-align: right;
}

.currency {
    text-align: left;
}
