.app {
    width:90%;
}

.dataCard {
    width:33.3%;
    float:left;
    min-height:200px;
}

.footerContainer {
    clear:both;
    padding-top:20px;
}
.footer {
    clear:both;
    background-color:lightgray;
    padding-top:10px;
    padding-bottom:10px;
}