{
	"printWidth": 100,
	"useTabs": true,
	"singleQuote": true,
	"endOfLine": "lf",
	"trailingComma": "none",
	"arrowParens": "avoid",
	"overrides": [
		{
			"files": "package*.json",
			"options": {
				"useTabs": false,
				"tabWidth": 4
			}
		}
	]
}
